
<div *ngIf="player">
    <h2><span>Player</span> {{player.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Points</span></dt>
        <dd>
            <span>{{player.points}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{player.user?.id}}
        </dd>
        <dt><span>Level</span></dt>
        <dd>
            <div *ngIf="player.level">
                <a [routerLink]="['/level', player.level?.id]">{{player.level?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'player/'+ player.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
