<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

      <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel">Crear Usuario / Jugador</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"(click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label">Nombre</label>
            <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel"
                   [(ngModel)]="user.firstName" maxlength="50">

            <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="firstNameInput.errors.maxlength"
                   >
                    El campo debe tener como maximo 50 caracteres.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel"
                   [(ngModel)]="user.lastName" maxlength="50">

            <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="lastNameInput.errors.maxlength"
                   >
                    El campo debe tener como maximo 50 caracteres.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label">E-Mail</label>
            <input type="email" class="form-control" name="email" #emailInput="ngModel"
                   [(ngModel)]="user.email" minlength="5" required maxlength="100">

            <div *ngIf="emailInput.dirty && emailInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.required">
                    El campo es requerido.
                </small>

                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.maxlength"
                       >
                    El campo debe tener como maximo 100 caracteres
                </small>

                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.minlength"
                       translate-value-min="5">
                    El campo debe tener como minimo 5 caracteres.
                </small>

                <small class="form-text text-danger"
                       *ngIf="emailInput.errors.email">
                    El E-Mail ingresado es invalido.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label>Roles</label>
            <select required class="form-control" multiple name="authority" [(ngModel)]="user.authorities">
                <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()"><span class="fa fa-ban"></span>&nbsp;<span>Cancelar</span></button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary"><span class="fa fa-floppy-o"></span>&nbsp;<span>Crear</span></button>
    </div>
</form>
