<div class="container-fluid">
    <div class="card jh-card">
        <div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 *ngIf="account">Cambiar Contraseña</h2>

                    <div class="alert alert-success" *ngIf="success">
                        <strong>¡La contraseña ha sido actualiada!</strong>
                    </div>
                    <div class="alert alert-danger" *ngIf="error" >
                        <strong>¡Ha ocurrido un error!</strong> La contraseña no pudo ser actualizada.
                    </div>

                    <div class="alert alert-danger" *ngIf="doNotMatch">
                        ¡Las contraseñas no coinciden!
                    </div>

                    <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                        <div class="form-group">
                            <label class="form-control-label" for="password">Nueva Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                                   [(ngModel)]="password" minlength=4 maxlength=50 required>
                            <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                                <small class="form-text text-danger"
                                   *ngIf="passwordInput.errors.required">
                                    El campo es requerido.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="passwordInput.errors.minlength">
                                    El campo debe tener como minimo 4 caracteres.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="passwordInput.errors.maxlength">
                                    El campo debe tener como maximo 50 caracteres.
                                </small>
                            </div>
                            <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="confirmPassword">Repetir Contraseña</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                                   [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                            <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                <small class="form-text text-danger"
                                   *ngIf="confirmPasswordInput.errors.required">
                                    El campo es requerido.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="confirmPasswordInput.errors.minlength">
                                    El campo debe tener como minimo 4 caracteres.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="confirmPasswordInput.errors.maxlength">
                                    El campo debe tener como maximo 50 caracteres.
                                </small>
                            </div>
                        </div>

                        <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
