<div [ngSwitch]="isAuthenticated()">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-xs-12 container-menu">
            <div class="row form-group-botones" *ngSwitchCase="false">
                <div class="col-lg-4 offset-lg-4">
                    <button (click)="login()" class="boton" name="button">Ingresar</button>
                </div>
                <div class="col-lg-4 offset-lg-4">
                    <a routerLink="register"><button class="boton" name="button">Registrarse</button></a>
                </div>
                <div class="col-lg-4 offset-lg-4">
                    <button class="boton" type="button" name="button">¿Como se juega?</button>
                </div>
            </div>
            <div *ngSwitchCase="true">
                <p>Usuario Logueado</p>
                <button type="button"  class="btn btn-primary" (click)="logout()">Salir</button>
            </div>
        </div>
    </div>
</div>
