
<div *ngIf="question">
    <h2><span>Question</span> {{question.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Question</span></dt>
        <dd>
            <span>{{question.question}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{question.type}}</span>
        </dd>
        <dt><span>Answer Time</span></dt>
        <dd>
            <span>{{question.answerTime}}</span>
        </dd>
        <dt><span>Answer</span></dt>
        <dd>
            <span>{{question.answer}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'question/'+ question.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
